

<title>网站用户</title>
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a>主页</a>
    <a><cite>促销管理</cite></a>
    <a href="javascript:;" layadmin-event="refresh"><cite>专题管理</cite></a>
  </div>
</div>

<div class="layui-fluid" id="OM-module-temp">
  <div class="layui-card">  
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">标题</label>
          <div class="layui-input-block">
            <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">作者</label>
          <div class="layui-input-block">
            <input type="text" name="nickName" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加专题</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">批量删除</button>
      </div>
      <table id="OM-popularize-subject" lay-filter="OM-popularize-subject"></table>
      <script type="text/html" id="table-popularize-subject">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script>
	layui.use('popularize', layui.factory('popularize')).use(['admin', 'popularize', 'table', 'layedit'], function(){
  		var $ = layui.$,
  		admin = layui.admin,
  		view = layui.view,
  		table = layui.table,
  		layedit = layui.layedit,
  		form = layui.form;
  
  		form.render(null, 'layadmin-userfront-formlist');
  
  		//监听搜索
  		form.on('submit(LAY-user-front-search)', function(data){
    		var field = data.field;
    
    		//执行重载
    		table.reload('OM-popularize-subject', {
     	 		where: field
    		});
  		});

  		//事件
  		var active = {
			batchdel: function(){
      			var checkStatus = table.checkStatus('OM-popularize-subject'),
      			checkData = checkStatus.data; //得到选中的数据
      			if(checkData.length === 0){
        			return layer.msg('请选择数据');
      			}

      			//数据封装
      			var val = '';
      			for(var i=0; i < checkData.length; i++) {
      				var obj =checkData[i];
      				val = val + obj.id + ",";
      			}
      			var val = val.substring(0, val.length - 1);
      			var req = {"ids": val};
      			layer.confirm('确定删除吗？', function(index) {
        			layer.close(index);
	          		//执行 Ajax 后重载
	          		$.ajax({
						type: "POST",
						url: "/manager/popularize/subject/deletes",
						dataType:'json',//预期服务器返回的数据类型
						contentType: "application/json; charset=utf-8",
						async: false,
						data: JSON.stringify(req),
						success: function(data){
							layer.open({
	                  	      	content: data.desc,
	                   	     	btn: ['确认'],
	                   	     	yes: function(index, layero) {
	                        		layer.close(index);
	                        		table.reload('OM-popularize-subject', null);
	                        	}
	                   	 	});
						}, error: function(){
							location.hash='/system/404';
						}
		    		});
        		});
      		},
      		add: function() {
      			view('OM-module-temp').render('popularize/component/subject-add', null).done(function() {
      				$.ajax({
    					type: "POST",
    					url: "/manager/popularize/categroy/info/all",
    					dataType:'json',//预期服务器返回的数据类型
    					contentType: "application/json; charset=utf-8",
    					async: false,
    					data: JSON.stringify({}),
    					success: function(data){
    						var fid = 0;
							for(var i=0; i < data.data.length; i++) {
								var obj = data.data[i];
								if(fid == 0 || obj.id != fid) {
									$('#m_cat_id').append("<option value="+obj.id+">"+obj.title+"</option>");
									fid = obj.id;
								} else {
									$('#m_cat_id').append("<option value="+obj.sid+"> └ "+obj.stitle+"</option>");
								}
							}
    					}, error: function(){
    						location.hash='/system/404';
    					}
    	    		});
      				//动态加载
					form.render();
      				/* //富文本框
      				layedit.set({
      				  	uploadImage: {
      				    	url: '/editor/upload', //接口url
      				    	type: 'post' //默认post
      				  	}
      				});
      				//富文本框初始化
				  	var layedit_index = layedit.build('editor'); //建立编辑器 */
					
				  	$(document).on('click','#select_goods',function(){
						admin.popup({
							title: '发货信息填写',
					        area: ['800px', '500px'],
					        id: 'OM-popup-order-add',
					        success: function(layero, index){
					        	view(this.id).render('popularize/component/flash-sale-goods', null).done(function(){
					        		//商品评论
					        		table.render({
					        			elem: '#OM-flash-goods',
					        			url: '/manager/popularize/flashsale/goods',
					        			//设置表格
					        			cols: [[
					        				{field: 'goodsname', title: '标题'},
					        				{field: 'cname', title: '所属分类'},
					        				{field: 'price', title: '价格'},
					        				{title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#table-flash-goods'}
					        			]],
					        			page: true,
					        			limit: 10,
					        			height: 'full-320',
					        			
					        			//ajax
					        			contentType: 'application/json; charset=UTF-8',
					        			method: 'post',
					        			request: {
					        				limitName: 'size'
					        			},
					        			response: {
					        				statusCode: 200
					        			},
					        			
					        			text: '对不起，加载出现异常！'
					        		});
					        		
					        		//工具条监听
					        		table.on('tool(OM-flash-goods)', function(obj){
					        			var data = obj.data;
					        			
					        			if(obj.event === 'sel'){
					        				layer.closeAll('iframe');
				        		            var flag = 1;
				        		            $m_str = '<span id="m_goods'+data.id+'"><div class="select_list box">'+data.title+' <i class="iconfont" onclick="remove_goods('+data.id+')">&#xe63d;</i></div><input type="hidden" name="m_goods" value="'+data.id+'"></span>';
				        		            var array=$("[name='m_goods[]']");
				        		            for(var i=0;i<array.length;i++) {
				        		                var value = $(array[i]).val();
				        		                if(id==value){
				        		                    flag = 0;
				        		                    break;
				        		                }
				        		            }
				        		            if(flag) $('#span_goods').append($m_str);
					        			}
					        			layer.close(index);
				        				return false;
					        		});
					        	});
					        }
						});
					});
				  	
    				//提交监听
					form.on('submit(OM-form-submit)', function(data){
						var field = data.field;
						if(field.is_top == 'on') {
							field.is_top = 1;
						} else {
							field.is_top = 0;
						}
						if(field.is_show == 'on') {
							field.is_show = 1;
						} else {
							field.is_show = 0;
						}
						if(!(/(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/.test(field.starting_price))) {
							layer.msg('起步价输入有误');
							return false;
						}
						if(field.hits < 0){
							layer.msg('人气输入有误');
							return false;
						}
						if(field.zan < 0){
							layer.msg('点赞输入有误');
							return false;
						}
						
						var m_goodsList=new Array();
						m_goodsList=$('input[name="m_goods"]').map(function(){ return $(this).val(); }).get();
       		    		field.goods_ids = m_goodsList.join(",");
       		    		
       		    		var m_slideList=new Array();
       		    		m_slideList=$('input[name="m_slide"]').map(function(){ return $(this).val(); }).get();
       		    		field.slide = m_slideList.join(",");
       		    		
						//field.info = JSON.stringify(layedit.getContent(layedit_index));
						//执行 Ajax 后重载
		          		$.ajax({
							type: "POST",
							url: "/manager/popularize/subject/insert",
							dataType:'json',//预期服务器返回的数据类型
							contentType: "application/json; charset=utf-8",
							async: true,
							data: JSON.stringify(field),
							success: function(data){
								layer.open({
		                  	      	content: data.desc,
		                   	     	btn: ['确认'],
		                   	     	yes: function(index, layero) {
		                        		layer.close(index);
		                        		//刷新当前页面
		        			    		window.location.reload();
		                        	}
		                   	 	});
							}, error: function(){
								location.hash='/system/404';
							}
			    		});
						return false;
					});
    			});
      		}
  		};
  
  		$('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
    		var type = $(this).data('type');
    		active[type] ? active[type].call(this) : '';
  		});
	});
</script>