
<div class="layui-main layui-form">
	<div class="layui-body-ctr">
		<div class="layui-ctt1">
			<form class="layui-tab layui-tab-card">
				<ul class="layui-tab-title">
					<li class="layui-this">编辑关键词</li>
				</ul>
				<div class="layui-tab-content" lay-filter="layuiadmin-form-useradmin-edit">
					<div class="layui-form-item">
						<label class="layui-form-label"><span>*</span> 名称：</label>
						<div class="layui-input-inline">
							<script type="text/html" template>
								<input type="text" name="title" datatype="*" nullmsg="请输入名称!" value="{{ d.params.title || '' }}" placeholder="请输入名称" class="layui-input">
							</script>
						</div>
					</div>
				
					<div class="layui-form-item">
						<label class="layui-form-label">触发类型：</label>
						<div class="layui-input-inline" style="width: 120px;">
							<select name="trigger_type" lay-filter="m_trigger_type" id="trigger_type"></select>
						</div>
						<div class="layui-form-mid layui-word-aux">在什么情况下回复</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">回复类型：</label>
						<div class="layui-input-inline" style="width: 120px;">
							<select name="reply_type" lay-filter="m_reply_type" id="reply_type"></select>
						</div>
						<div class="layui-form-mid layui-word-aux">回复什么内容</div>
					</div>
					
					<div id="test" class="cla"></div>
					<div id="test2" class="cla2"></div>
						<script type="text/html" template>
							<input type="hidden" name="id" value="{{ d.params.id || '' }}" style="color: black;">
						</script>						
					<div class="layui-form-item" style="border: 0;">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit lay-filter="OM-form-submit">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>