<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.mapper.IdeaShopDispatchingMapper">
	
	<!-- 获得配送信息 -->
	<select id="getInfo" resultType="com.shop.model.po.IdeaShopDispatching">
		SELECT id, express_switch, first_price, first_weight, second_price, second_weight, pickup, pickup_addr, pickup_name, pickup_tel
		FROM idea_shop_dispatching
		LIMIT 0,1
	</select>
</mapper>